// You need a secrets.go file defining these constants in order to run the program:

package secrets

const (
	MaintainerName = "Your Name"

    BotPhoneNumber = "98765432123"

	ChatIDBotTest = "123456789123456789@g.us"
	ChatIDMe = "18001231234@s.whatsapp.net"
	ChatIDMinyan = "123456789123456789@g.us"

	GoogleCalendarAPIKey = "aBcDEfGhiJklmoPQrsTUvwxYZ"
	MinyanCalendarID = "somebody@gmail.com"

	MinyanTimezone       = "America/TimeZoneName"
	MinyanZmanimLocation = "CityName"
)